/* Inserta tu codigo que es común para todas las páginas aqui */
nav li{
	list-style-type: none;
	display: inline-block;
	border:1px dashed red;
}







.balerine{
	background-image: url("../img/shoes_1.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	height: 461px;
}

.contactanos ul{
	list-style: none;
	width: 730px;
	margin: 0;
	padding: 0;
}

li{
	width:100%;
}




footer{
	background-color: #192951;
}